/**
 * reset css
 */
html, body,
ul, li,
h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, Helvetica Neue, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

:root {
    --app-size: 70px;
    --app-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
    --bg-color: #ffffff;
    --text-color: rgba(0, 0, 0, .88);
    --border-color: #ececec;
    --btn-border-color: rgba(0, 0, 0, 0.08);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #3a3a3c;
        --text-color: #fafafa;
        --border-color: #6a6a6a;
        --btn-border-color: rgba(255, 255, 255, 0.15);
        --app-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

a, a:hover {
    text-decoration: none;
}

.clr:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/**
 * global style
 */
#container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 12px;
    width: 540px;
    padding: 24px 24px 8px 24px;
    margin: 5px;
    border: 1px solid var(--border-color);
    border-radius: 16px;
}

#canvas {
    border-radius: 22%;
    width: var(--app-size);
    height: var(--app-size);
    box-shadow: var(--app-shadow);
}

.app-btn {
    outline: none;
    display: flex;
    /* 避免应用名称太长影响布局 */
    max-width: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s cubic-bezier(.32, .08, .24, 1);
    will-change: transform;
}

.app-btn:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}

.app-btn:active {
    opacity: .5;
    transform: scale3d(1, 1, 1);
}

.app-btn img {
    height: var(--app-size);
    width: var(--app-size);
    border-radius: 22%;
    box-shadow: var(--app-shadow);

}

.btn-icon-container {
    display: inline-block;
    height:var(--app-size);
    width: var(--app-size);
    position: relative;
}

.btn-text-container {
    text-align: center;
    margin: 3px 0 0;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-text {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    padding: 0 10px;
    position: relative;
    font-size: 13px;
    line-height: 1.8;
    white-space: nowrap;
    color: var(--text-color);
    cursor: pointer;
}

