/**
 * reset css
 */
html, body,
ul, li,
h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, Helvetica Neue, sans-serif;
}

:root {
    --app-size: 70px;
    --app-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}

a, a:hover {
    text-decoration: none;
}

.clr:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/**
 * global style
 */
#container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 12px;
    width: 540px;
    padding: 24px 24px 8px 24px;
    margin: 5px;
    border: 1px solid #ececec;
    border-radius: 16px;
}

#canvas {
    border-radius: 22%;
    width: var(--app-size);
    height: var(--app-size);
    box-shadow: var(--app-shadow);
}

.app-btn {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s cubic-bezier(.32, .08, .24, 1);
}

.app-btn:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}

.app-btn:active {
    opacity: .5;
}

.app-btn img {
    height: var(--app-size);
    width: var(--app-size);
    border-radius: 22%;
    box-shadow: var(--app-shadow);

}

.btn-icon-container {
    display: inline-block;
    height:var(--app-size);
    width: var(--app-size);
    position: relative;
}

.btn-border {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    border-radius: 22%;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.btn-text-container {
    text-align: center;
    margin: 3px 0 0;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-text {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    padding: 0 10px;
    position: relative;
    font-size: 13px;
    line-height: 1.8;
    white-space: nowrap;
    color: rgba(0, 0, 0, .88);
    cursor: pointer;
}

